{{ define "main" }}
<article class="markdown book-article">

  {{ .Content }}

  {{/* Find news coverage that links to this legislation */}}
  {{/* Strip trailing slash since markdown links don't include it */}}
  {{ $currentPath := .RelPermalink | replaceRE "/$" "" }}
  {{ $backlinks := slice }}
  {{ range where .Site.RegularPages "Section" "news-coverage" }}
    {{ if findRE (printf `\]\(%s\)` $currentPath) .RawContent }}
      {{ $backlinks = $backlinks | append . }}
    {{ end }}
  {{ end }}

  {{ if gt (len $backlinks) 0 }}
  <h2>News Coverage</h2>
  <table>
    <thead>
      <tr>
        <th>Article</th>
        <th>Source</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {{ range sort $backlinks "Date" "desc" }}
      <tr>
        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
        <td>{{ .Params.source }}</td>
        <td>{{ .Date.Format "January 2, 2006" }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ end }}
</article>
{{ end }}
